.card-product {
  background: white;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 100%;
  height: 0;
  overflow: hidden;
  transition: all 1s;
}

.card-product.top-slide {
  display: flex;
  top: 70%;
  height: 30%;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
