.scan-box {
  height: 220px;
  margin-bottom: 20px;
}

video {
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  max-width: 100%;
  top: 0px;
  left: 0px;
}

#video_overlays {
  z-index:10;
}

.scan-form {
  height: 130px;
  background-color: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-bottom: 20px;
}

