<div class="card-product">
  <img id="card-image" src="" />
  <div class="card-product-infos">
    <h2 id="product-name">Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="scan-box">
  <%#= image_tag "logo.png" %>
  <div class="video-box">
  </div>
</div>


<div class="d-none">
  <%= simple_form_for @product do |f| %>
    <%= f.input :barcode %>
    <%= f.button :submit, "Save Product", class: "btn btn-primary"%>
  <% end %>
</div>
