
<div class="slider">
  <i class="fas fa-angle-double-up fa-2x mt-3 text-info"></i>
  <div class="card-product-header">
    <img id="card-image" src=""/>
    <div class="card-product-header-infos">
      <h2 id="product-name">Product name</h2>
      <p id="product-ingredients">Product description with relevant info only.</p>
    </div>
  </div>
</div>

<div class="card-product"></div>

<div class="scan-box">
  <div class="video-box">
  </div>
</div>


<div class="d-none">
  <%= simple_form_for @product do |f| %>
    <%= f.input :barcode %>
    <%= f.button :submit, "Save Product", class: "btn btn-primary"%>
  <% end %>
</div>
